.header {
    background-color: rgb(198, 140, 255);
    grid-area: header;
    display: flex;
    align-items: center;
}

.name h1 {
    padding-left: 25px;
    font-size: 28px;
    font-weight: 500;
    padding: 9px;
}

.logo{
    margin-right: 20px;
    margin-left: 15px;
}